
<%- include('header') %> 
<header>
   
<div class="start">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="main">GET LAON FOR YOUR BUISNESS GROWTH OR STARTUP</h1>
      <p class="para">Apply for oue buisness loan in minutes,without painful</p>
      <button type="button" class="btn btn-success btn-m">HOW IT WORKS</button>
    </div>

    <div class="form">
    <form action="/rupees" method="POST">
      <h2>How much you want</h2>
      <p>We provide online instant cash loan with quick </p>
      <select name="amount" id="amount" class="form-control">AMOUNT
      <option value="1">AMOUNT</option>
      <option value="2">Category 1</option>
      <option value="2">Category 2</option>
      <option value="3">Category 3</option>
    </select>
  
    <select name="month" id="amount" class="form-control">MONTH
      <option value="1">MONTH</option>
      <option value="2">Months</option>
      <option value="2">Year</option>
      <option value="3">Days 3</option>
    </select>
    <p>you have to pay:$0</p>
    <input type="text" placeholder="NAME" class="form-control" name="nominee">
    <input type="tel" placeholder="Phone no." class="form-control" name="phno">
    <button type="submit" class="btn btn-primary btn-lg btn-block btn-two">CONTINUE</button>
    </form>
  </div>
  </div>
</div>
</header>

<!--TRUST COMPANY-->
<div class="trust">
  <div class="row">
    <div class="col-lg-6 counter-parent">
      <img src="./images/loan sec.webp" alt="">
      <div class="counter"> <img class="img-two" src="./images/thums up .png" alt="thumps"> <h6 class="num">90</h6></div>
    </div>
    <div class="col-lg-6">
      <h2>Thousands of customers trust our company</h2>
      <p>The brochure must grab a viewer’s attention and hold it long enough to deliver the pertinent 
        information. How do you grab your customers’ attention. <br><br>
        The brochure must grab a viewer’s attention and hold it long enough to deliver the pertinent 
        information. How do you grab your customers’ attention.</p>
        <button type="button" class="btn btn-success btn-n">LEARN MORE</button>
    </div>
  </div>
</div>

<!-- loan section -->

<div class="loans">
  <h2>Loan for your business <br> and startup</h2>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
       
<div class="row">
  <div class="col-lg-4">
    <div class="card" >
      <img src="./images/pages.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Business Loan </h3>
        <p class="card-text">The broucher must grab a viewr'sattention and hold it long enough to deliver the pertinent 
          information. How do you grab your coustomer's attention with just a piece. </p>
          <button type="button" class="btn btn-success btn-n">APPLY NOW</button>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" >
      <img src="./images/building.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">startup Loan </h3>
        <p class="card-text">The broucher must grab a viewr'sattention and hold it long enough to deliver the pertinent 
          information. How do you grab your coustomer's attention with just a piece. </p>
          <button type="button" class="btn btn-success btn-n">APPLY NOW</button>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" >
      <img src="./images/boy.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Student Loan </h3>
        <p class="card-text">The broucher must grab a viewr'sattention and hold it long enough to deliver the pertinent 
          information. How do you grab your coustomer's attention with just a piece. </p>
          <button type="button" class="btn btn-success btn-n">APPLY NOW</button>
       </div>
       </div>
       </div>
        </div>
        </div>
      <div class="carousel-item">
        
<div class="row">
  <div class="col-lg-4">
    <div class="card" >
      <img src="./images/pages.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Business Loan </h3>
        <p class="card-text">The broucher must grab a viewr'sattention and hold it long enough to deliver the pertinent 
          information. How do you grab your coustomer's attention with just a piece. </p>
          <button type="button" class="btn btn-success btn-n">APPLY NOW</button>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" >
      <img src="./images/building.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">startup Loan </h3>
        <p class="card-text">The broucher must grab a viewr'sattention and hold it long enough to deliver the pertinent 
          information. How do you grab your coustomer's attention with just a piece. </p>
          <button type="button" class="btn btn-success btn-n">APPLY NOW</button>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" >
      <img src="./images/boy.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title"> Student Loan </h3>
        <p class="card-text">The broucher must grab a viewr'sattention and hold it long enough to deliver the pertinent 
          information. How do you grab your coustomer's attention with just a piece. </p>
          <button type="button" class="btn btn-success btn-n">APPLY NOW</button>
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="carousel-item">
      
<div class="row">
  <div class="col-lg-4">
    <div class="card" >
      <img src="./images/pages.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Business Loan </h3>
        <p class="card-text">The broucher must grab a viewr'sattention and hold it long enough to deliver the pertinent 
          information. How do you grab your coustomer's attention with just a piece. </p>
          <button type="button" class="btn btn-success btn-n">APPLY NOW</button>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" >
      <img src="./images/boy.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">startup Loan </h3>
        <p class="card-text">The broucher must grab a viewr'sattention and hold it long enough to deliver the pertinent 
          information. How do you grab your coustomer's attention with just a piece. </p>
          <button type="button" class="btn btn-success btn-n">APPLY NOW</button>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" >
      <img src="./images/building.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Student Loan </h3>
        <p class="card-text">The broucher must grab a viewr'sattention and hold it long enough to deliver the pertinent 
          information. How do you grab your coustomer's attention with just a piece. </p>
          <button type="button" class="btn btn-success btn-n">APPLY NOW</button>

      </div>
    </div>
  </div>
</div>
  </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!--Broucher section -->
<div class="broucher">
  <div class="slideshow">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <p>The broucher must grab a viewer’s attention and hold it long enough to deliver the pertinent information.
              How do you grab your customer attention with just a piece.
            </p>
            <h6>ROBART MILLER </h6>
        </div>
        <div class="carousel-item">
          <p>The broucher must grab a viewer’s attention and hold it long enough to deliver the pertinent information.
            How do you grab your customer attention with just a piece.
          </p>
          <h6>ROBART MILLER </h6>
        </div>
        <div class="carousel-item">
          <p>The broucher must grab a viewer’s attention and hold it long enough to deliver the pertinent information.
            How do you grab your customer attention with just a piece.
          </p>
          <h6>ROBART MILLER </h6>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row broucher-counter">
    <div class="col-lg-6">
      <div class="counter-box">
        <h5 class="num main-no"><span class="num">2000</span>+</h5>
        <h4>Loan Approval</h4>
      </div>
    </div>
    <div class="col-lg-6 img-box">
     
    </div>
  </div>
  
</div>

<div class="second-broucher mb-5">
  <div class="row broucher-counter women">
    <div class="col-lg-6 img-box-alt">
      <!-- <img src="./images/old woman.webp" alt=""> -->
    </div>
    <div class="col-lg-6">
      <div class="counter-box">
        <h5 class="main-no num"><span class="num">99</span>%</h5>
        <h4>Satisfied customer</h4>
      </div>
    </div>
  </div>
</div>

<!--broucher 2nd part -->
<div class="brouchtwo">
  
<h2> How it works</h2>
<p class="headmain">The brochure must grab a viewer’s attention and hold it long <br> enough to deliver the pertinent.</p>
<div class="sect">
<div class="row">
  <div class="col-lg-4">
    <div class="card card-two" >
      <img src="./images/number (1).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apply for loan</h5>
        <p class="card-text">The brochure must grab a viewer’s attention and hold it long enough to deliver
           the pertinent information.</p>  
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-two">
      <img src="./images/number (2).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Application review</h5>
        <p class="card-text">The brochure must grab a viewer’s attention and hold it long enough to deliver 
          the pertinent information.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-two">
      <img src="./images/number (3).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Get funding fast</h5>
        <p class="card-text">The brochure must grab a viewer’s attention and hold it long enough to deliver the 
          pertinent information.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!--FAQ-->
<div class="faq">
  <div class="row">
    <div class="col-lg-6">
  <h2>Frequently ask <br>questions</h2>
  <p>The brochure must grab a viewer’s attention and hold it long <br>enough to deliver the pertinent information.
     How do you grab<br> your customers’ attention.</p>
     <button type="button" class="btn btn-success btn-n">CONTACT US</button>
    </div>
    <div class="col-lg-6">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               01.Attention and hold it long enough?
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              The brochure must grab a viewer’s attention and hold it long enough to deliver the 
               pertinent information
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                02.Hold it long enough?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              The brochure must grab a viewer’s attention and hold it long enough to deliver the 
               pertinent information
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed new-sec" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree ">
                03. Enough and hold it long?
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              The brochure must grab a viewer’s attention and hold it long enough to deliver the 
               pertinent information
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

<%- include('footer') %> 

